* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    font-size: 1.5em;
    font-weight: 400;
    list-style: none;
    display: inline-block;
}

.dropdown{
    display: inline-block;
}

.dropdown-content{
    background-color: black;
    width: 8rem;
    padding: 3px;
    position: absolute;
    display: none;
}

.dropdown-content a{
    border-bottom: 3px solid white;
    margin-top: 1.5rem;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.title {
    max-width: 100%;
    height: 100%;

    font-weight: 400;
    align-items: center;
    color: white;
    right: 7%;
    position: relative;

    display: flex;
}

.list {
    height: 100%;
    width: 27rem;

    justify-content: space-around;
    align-items: center;
    display: flex;
}

.container-header {
    height: 4rem;
    align-items: center;
    justify-content: space-around;

    background-color: black;

    display: flex;
}

.container-button {
    height: 50vh;
    align-items: center;
    justify-content: center;

    display: flex;
}

.style-menu {
    text-decoration: none;
    color: white;
}

.link{
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.link:hover{
    opacity: 0.9;
    border-bottom: 3px solid red;
    color: rgb(233, 25, 25);
}

#botao {
    padding: 3px;
    width: 12rem;
    height: 5rem;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;

    background-color: rgb(252, 239, 239);
    display: flex;
}

#botao:hover {
    opacity: 0.9;
    color: white;
    box-shadow: -1px 3px 46px -13px rgba(0,0,0,1);
    background-color: rgb(88, 88, 228);
}